@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-geist-sans);
  background-color: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}